@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #fef6e4;
  --color-bg-offset: #f3e1d8;
  --color-text: #172c66;
  --color-text-offset: #006e8a;
  --color-border: #f3d2c1;
  --color-primary: #f582ae;
  --color-primary-offset: #ff3d6a;
  --color-secondary: #8bd3dd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: var(--color-bg);
  color: var(--color-text);
}
